
<h1> Add new pokemon! </h1>

<form action="/addNewPoke" method="POST">
    <p> Pokemon Name: </p>
    <input type="text" name="name" id="name">
    <p> Pokemon Type: </p>
    <input type="text" name="type" id="type">
    <p> Pokemon Url: </p>
    <input type="text" name="url" id="url">
    <p> Pokemon Blurb: </p>
    <input type="text" name="blurb" id="blurb">
    <p> Pokemon Ability: </p>
    <input type="text" name="ability" id="ability">

    <h3>Is this pokemon owned by a trainer?</h3>
    <select name="trainer" >
    {{#each trainer}}
    <option value="{{id}}">{{name}}</option>
    {{/each}}
    <option selected="selected" value="99999"> No! </option>
    </select>

    <input type="submit">

</form>