<body>

  <div class="container">
    <div class="flexBox">
        
        
      
        <img class="headerimage" src="/images/pokedex.png" width="80%">
      
      <div class="Selection">
        <form action="/" method="post">
          <label>Select your trainer</label>
          <select name="trainer">
            {{#each trainers}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
            <option selected="selected">None</option>
          </select>
          <input type="submit">
      </div>
      <div class="Selection">
        <form action="/" method="post">
          <label>Select your Pokemon</label>
          <select name="pokemon">
            {{#each pokemon}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
            <option selected="selected">None</option>
          </select>
          <input type="submit">
        </form>
        
      </div>
      <a class="home" href="/addNewPoke">Add new pokemon.</a>
    </div>

  </div>
  <div class="display">
    
    <div class="button"></div>
    <div class="button-cross"></div>
  </div>

</body>

</html>