<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="index.css">

  </head>
  <body >

    <div class="container">  
     <div class="flexBox">
       <img class="headerimage" src="/images/pokedex.png" width="80%">
      <div class="Selection">
            <form action="/" method="post">
            <label>Select your trainer</label>
            <select name="trainer" >
              {{#each trainers}}
                <option value="{{name}}">{{name}}</option>
              {{/each}}
            <option selected="selected">None</option>
            </select>
            <input type="submit" value="Submit">  
        </div>
        <div class="Selection">
            <form action="/" method="post">
            <label>Select your Pokemon</label>
            <select name="pokemon" >
              {{#each pokemon}}
                <option value="{{name}}">{{name}}</option>
              {{/each}}
              <option selected="selected">None</option>
            </select>
            <input type="submit" value="Submit">  
            </form>
        </div>
    </div>
  </body>
</html>
