
<div class="container">

  {{#each trainers}}
  
  <div class="flexBox">
    <img class="headerimage" src="/images/pokedex.png" width="80%">
    <h2>{{name}}</h2>
    <img class="headerimage" src="{{url}}" alt="image">
  </div>
  <p>{{gym}}</p>
  <p>"{{town}}"</p>
  
  {{/each}}
</div> 