.headerimage{
    width: 90%;
    margin:0 auto;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flexBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Selection{
width: max-content;
height: 50px;
}