.headerimage{
    width: 45%;
    margin:0 auto;
}
.container{
    color: cornsilk;
    width: 80%;
    margin: 0 auto;
    border: 10px solid #59554c;
    padding: 20px;
    max-width:1000px;
    width: 70%;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 800;
    background-color: rgb(52, 146, 235);
    box-shadow: inset 1px 1px 15px 1px blue;
    border-radius: 25px;
    min-height: 300px;
    
}
.flexBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Selection{
    width: max-content;
    height: 50px;
}

body{
    background-color: red;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 40px;
}

.big-margin{
    border: 20px solid #ccc;
    background: lightBlue;
    margin: 20px;
}

.button-circle{
    width: 300px;
    height: 300px;
    background-color: rgb(44, 44, 44);
    margin: 50px auto;
    margin-left: 25%;
    margin-right: auto;
    border-radius: 50%;
    box-shadow: 10px 10px 15px rgb(39, 39, 39),
                inset 1px 1px 15px 1px rgb(58, 58, 58),
                inset 5px 3px 15px 1px rgb(78, 78, 78);

}

circle

.cross {
    background: rgb(255, 255, 255);
    height: 100px;
    position: relative;
    margin-right: 25%;
    margin-left: auto;
    width: 20px;
  }
  .cross:after {
    background: rgb(0, 0, 0);
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;

    top: 40px;
    width: 100px;
  }